---
import Subtitles from "../atoms/Subtitles.astro";
import EducationCourses from "../../assets/education.json";
import EducationIcon from "../molecules/educationIcon.astro";
import EducationInfo from "../molecules/educationInfo.astro";

---

<div class="mt-10">
    <Subtitles text="Education" />


        <div class="mt-4 flex">
            <div>

            {EducationCourses.map((course, index) => (
                <EducationIcon 
                    key={index}
                    src={course.icon}
                    clase="rounded-full border border-[--color-black]"
                    last={index === EducationCourses.length -1}
                    institution={course.institute}
                    course={course.course}/>
            ))}
            </div>

            <!-- <div>

            {EducationCourses.map((course, index) => (
                <EducationInfo 
                    key={index}
                    institution={course.institute}
                />
            ))}
            </div> -->

        </div>
    
        

   


</div>