---
import Title from "../atoms/Title.astro";
import EducationCourses from "../../assets/education.json";
import EducationIcon from "../molecules/educationIcon.astro";


---

<div class="mt-10">
    <Title text="Education" fontSize="text-[2.7rem]" fontWeight="font-extrabold"/>


        <div class="mt-4 flex">
            <div>

            {EducationCourses.map((course, index) => (
                <EducationIcon 
                    key={index}
                    src={course.icon}
                    clase="rounded-full border border-[--color-black]"
                    last={index === EducationCourses.length -1}
                    institution={course.institute}
                    course={course.course}
                    startDate={course.startDate}
                    endDate={course.endDate}
                    />
            ))}
            </div>

        </div>
    
        

   


</div>